# -----------------------------
# Python (FastAPI)
# -----------------------------
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# React / Node
# React
quick-frontend/node_modules/
quick-frontend/dist/
quick-frontend/build/
# -----------------------------
**/node_modules/
**/dist/

# -----------------------------
# Environment variables
# -----------------------------
**/.env

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Database
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Operating System
# -----------------------------
.DS_Store
Thumbs.db